table.users-table, .display_details { 
	width: 750px; 
	border-collapse: collapse; 
	font-size: 17px;
	margin: 0 auto;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
}

.users-table td, .users-table th { 
	padding: 5px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table.users-table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

/* Modal */
.modal.fade.in {
    margin: 0 auto;
}

.modal-content {
	margin-top: 60px;
}

.users .additional-details {
	text-align: center;
}

.modal-header {
	background-color: #3498DB;
}

.modal-header h3 {
	text-align: center;
	color: #fff;
}

.modal-header h3 span {
	color: #fff;
}

.modal-header .close {
	font-size: 30px;
	color: #fff;
	opacity: 0.9;
}
